/* Write code below for ECOMMERCE TASK */
img {
   justify-content: center;
   background-color: purple; 
}
nav{
    justify-content: center;
    display: flex;
    
}



table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }